<div class="app-file__hd">
    <mat-icon>search</mat-icon>
    <input placeholder="搜索文件"/>
</div>
<div class="app-file__bd">
    <button class="add" (click)="changeType('upload')" mat-raised-button color="primary">添加更多文件</button>
    <mat-tab-group size="small">
        <mat-tab label="已上传的文件">
            <ion-grid class="files ion-no-padding">
                <ion-row>
                    <ion-col *ngFor="let item of items" [size]="12/5">
                        <div class="file-box">
                            <div class="img-box"><img [src]="PREFIX_URL + item.url"></div>
                            <div class="txt-box">
                                <p class="name">{{item.name}}</p>
                                <div class="type">
                                    <p>{{getType(item.mime, 0)}}</p>
                                </div>
                            </div>
                            <p class="img-meta">{{getType(item.mime, 1)}} - {{item.width}}x{{item.height}} - {{item.size}}KB</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="text-align: right" size="12">
                        <mat-button-toggle-group>
                            <mat-button-toggle (click)="prev()" value="bold"><ion-icon name="chevron-back"></ion-icon></mat-button-toggle>
                            <mat-button-toggle [class.current]="currentPage === page" (click)="changePage(page)" *ngFor="let page of pages" value="italic">{{page}}</mat-button-toggle>
                            <mat-button-toggle (click)="next()" value="underline"><ion-icon name="chevron-forward"></ion-icon></mat-button-toggle>
                        </mat-button-toggle-group>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </mat-tab>
        <mat-tab label="已选择的文件">已选择的文件</mat-tab>
    </mat-tab-group>
</div>
<div class="app-file__ft">
    <a href="javascript:;" class="app-file__btn app-file__btn_default"
       (click)="_onSelect(false)">取消</a>
    <a href="javascript:;" class="app-file__btn app-file__btn_confirm"
       (click)="_onSelect(true)">确定</a>
</div>
