<div class="app-mask" [ngClass]="{ 'app-mask__in': shown }" (click)="hide()"></div>
<div class="app-file" [ngClass]="{'app-file__in': shown}" #container>
    <ng-container *ngIf="type === 'view'">
        <app-file-view [count]="count" (askForType)="changeType($event)" (askForDismiss)="dismiss($event)" (askForRefresh)="getData()" [params]="params" [items]="items"></app-file-view>
    </ng-container>
    <ng-container *ngIf="type === 'upload'">
        <app-file-upload></app-file-upload>
    </ng-container>
</div>
